@font-face {
    font-family: 'StratosSkyeng';
    src: url(../fonts/StratosSkyeng.woff);
    src: url(../fonts/StratosSkyeng.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'StratosSkyeng';
}

body {
    background-color: #004980;
}
main-box {
    margin-top: 250px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 459px;
    width: 480px;
    background-color: #c2f5ff;
    border-radius: 12px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 175px;
    

    &__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        color: #004980;
        height: 96px;
        width: 208px;
        text-align: center;
    }

    &__level-box {
        display: flex;
        gap: 26px;
        justify-content: space-evenly;

        & label {
            background-color: #ffffff;
            width: 98px;
            height: 98px;
            border-radius: 12px;
            text-align: center;
            font-size: 64px;
            font-weight: 400;
            line-height: 92px;
            color: #0080c1;
            cursor: pointer;
        }

        & input {
            display: none;
        }

        & input:checked + label {
            background-color: #0080c1;
            color: #ffffff;
        }

        & label:hover {
            background-color: #83d2fa;
            color: #ffffff;
        }
    }

    &__button {
        background-color: #7ac100;
        color: #fff;
        width: 246px;
        height: 50px;
        border-radius: 12px;
        border: none;
        font-size: 24px;
        line-height: 32px;
        cursor: pointer;
    }
}

.selected-level {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #004980;
    text-align: center;
    padding: 0 20px;
}

.text-level-color {
    color: #7ac100;
}
@import 'cards';
@import 'game';
@import 'final-game';
